<% include ./partials/header %>


<div class="ui main text container segment">
    <!--the below classes come from the "item" in semantic ui-->
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span> <!-- need to figure out "created -->
            </div>
            <div class="description">
                 <p><%- blog.body %></p> <!--The dash used instead of the = allows html to be run -->
            </div>
            <div class="spaced">
                <a class="ui orange big basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="ui red big basic button">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>